name: Publish Release

on:
  workflow_call:
    inputs:
      package:
        required: true
        type: string

permissions:
  contents: read
  id-token: write
  
jobs:
  publish:
    name: Publish ${{ inputs.package }} Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "yarn"
          registry-url: "https://registry.npmjs.org"
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - run: yarn install --frozen-lockfile
        working-directory: ${{ inputs.package }}
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - uses: actions/setup-node@v4
        with:
          node-version: '22.9.0'
          registry-url: "https://registry.npmjs.org"
      - name: Publish dev release
        working-directory: ${{ inputs.package }}
        run: |
          npm install -g npm@11.6.4
          npm publish --tag dev
