name: Release Please

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  release-please:
    name: Release Please
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      version: ${{ steps.release.outputs.major }}.${{ steps.release.outputs.minor }}.${{ steps.release.outputs.patch }}
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.RELEASE_PLEASE_TOKEN }}
          target-branch: main
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
 
  push-device-software-to-ecr:
    if: ${{ needs.release-please.outputs.release_created }}
    uses: ./.github/workflows/push_device_software_to_ecr.yml
    secrets: inherit
    permissions:
      contents: read
      id-token: write
    with:
      version: ${{ needs.release-please.outputs.version }}
