name: Release Please

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  id-token: write

env:
  NPM_TOKEN: ${{secrets.NPM_TOKEN}}

jobs:
  release-please:
    name: Release Please
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      version: ${{ steps.release.outputs.major }}.${{ steps.release.outputs.minor }}.${{ steps.release.outputs.patch }}
      package_release_created: ${{ steps.release.outputs['packages/release-please-test-pkg--release_created'] }}
      package_2_release_created: ${{ steps.release.outputs['packages/test-pkg-2--release_created'] }}
      prs: ${{ steps.release.outputs.prs }}
      pr: ${{ steps.release.outputs.pr }}
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.RELEASE_PLEASE_TOKEN }}
          target-branch: main
          config-file: .github/release-please-config.json
          manifest-file: .github/.release-please-manifest.json

  test-output:
    runs-on: ubuntu-latest
    name: Test Output
    needs: release-please
    if: ${{ !needs.release-please.outputs.release_created }}
    steps:
      - name: Test Output
        run: |
          echo "prs: ${{ toJSON(needs.release-please.outputs.prs) }}"
          echo "pr: ${{ toJSON(needs.release-please.outputs.pr) }}"

  push-device-software-to-ecr:
    needs: release-please
    if: ${{ needs.release-please.outputs.release_created }}
    uses: ./.github/workflows/push_device_software_to_ecr.yml
    secrets: inherit
    permissions:
      contents: read
      id-token: write
    with:
      version: ${{ needs.release-please.outputs.version }}

  publish-package-release:
    name: Publish Package Release
    needs: release-please
    if: ${{ needs.release-please.outputs.package_release_created }}
    uses: ./.github/workflows/publish-release.yml
    with:
      package: packages/release-please-test-pkg
    secrets: inherit

  publish-package-2-release:
    name: Publish Package 2 Release
    needs: release-please
    uses: ./.github/workflows/publish-release.yml
    if: ${{ needs.release-please.outputs.package_2_release_created }}
    with:
      package: packages/test-pkg-2
    secrets: inherit

  publish-package-dev-release:
    name: Publish Package Dev Release
    needs: release-please
    uses: ./.github/workflows/publish-dev-release.yml
    if: ${{ !needs.release-please.outputs.package_release_created }}
    with:
      package: packages/release-please-test-pkg
    secrets: inherit

  publish-package-2-dev-release:
    name: Publish Package 2 Dev Release
    needs: release-please
    uses: ./.github/workflows/publish-dev-release.yml
    if: ${{ !needs.release-please.outputs.package_2_release_created }}
    with:
      package: packages/test-pkg-2
    secrets: inherit