name: Release Please

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  id-token: write

env:
  NPM_TOKEN: ${{secrets.NPM_TOKEN}}

jobs:
  release-please:
    name: Release Please
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      version: ${{ steps.release.outputs.major }}.${{ steps.release.outputs.minor }}.${{ steps.release.outputs.patch }}
      package_release_created: ${{ steps.release.outputs['packages/release-please-test-pkg--release_created'] }}
      package_version: ${{ steps.release.outputs['packages/release-please-test-pkg--version'] }}
      test-pkg-2_release_created: ${{ steps.release.outputs['packages/test-pkg-2--release_created'] }}
      test-pkg-2_version: ${{ steps.release.outputs['packages/test-pkg-2--version'] }}
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.RELEASE_PLEASE_TOKEN }}
          target-branch: main
          config-file: .github/release-please-config.json
          manifest-file: .github/.release-please-manifest.json
 
  push-device-software-to-ecr:
    needs: release-please
    if: ${{ needs.release-please.outputs.release_created }}
    uses: ./.github/workflows/push_device_software_to_ecr.yml
    secrets: inherit
    permissions:
      contents: read
      id-token: write
    with:
      version: ${{ needs.release-please.outputs.version }}

  publish-package-release:
    name: Publish Release to npm
    needs: release-please
    if: ${{ needs.release-please.outputs.package_release_created }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "yarn"
          registry-url: "https://registry.npmjs.org/:_authToken=${{secrets.NPM_TOKEN}}"
      - run: cd packages/release-please-test-pkg && yarn install --frozen-lockfile
      - run: |
          cd packages/release-please-test-pkg
          cp "$NPM_CONFIG_USERCONFIG" ~/.npmrc
          yarn publish --non-interactive

  publish-package-dev-release:
    name: Publish Dev Release
    runs-on: ubuntu-latest
    needs: release-please
    if: ${{ !needs.release-please.outputs.package_release_created }}
    steps:
      - run: echo ${{ needs.release-please.outputs.package_version }}
      - uses: actions/checkout@v6
        with:
          fetch-depth: 2
      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            pkg:
              - 'packages/release-please-test-pkg/**'
      - uses: actions/setup-node@v4
        if: steps.changes.outputs.pkg == 'true'
        with:
          node-version-file: ".nvmrc"
          cache: "yarn"
          registry-url: "https://registry.npmjs.org/:_authToken=${{secrets.NPM_TOKEN}}"
      - run: cd packages/release-please-test-pkg && yarn install --frozen-lockfile
        if: steps.changes.outputs.pkg == 'true'
      - name: Get current version
        if: steps.changes.outputs.pkg == 'true'
        id: version
        run: |
          SHORT_SHA=$(echo "${{ github.sha }}" | cut -c1-7)
          DEV_VERSION="${{ needs.release-please.outputs.package_version }}-dev.${SHORT_SHA}"
          echo "dev_version=${DEV_VERSION}" >> $GITHUB_OUTPUT
          echo "Publishing dev version: ${DEV_VERSION}"
      - name: Update package.json with dev version
        if: steps.changes.outputs.pkg == 'true'
        run: |
          cd packages/release-please-test-pkg
          npm pkg set version="${{ steps.version.outputs.dev_version }}"
      - name: Publish dev release
        if: steps.changes.outputs.pkg == 'true'
        run: |
          cd packages/release-please-test-pkg
          cp "$NPM_CONFIG_USERCONFIG" ~/.npmrc
          yarn publish --tag dev --non-interactive